
<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestias deserunt expedita ipsum modi aut veniam, ipsa, velit, cum fugit numquam iusto rem ipsam?</p>
    </div>

</section>