<div class="jumbotron mt-4">
    <h1 class="display-4"> Notes App Nodejs and MOngodb</h1>
    <p class="lead">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Porro earum placeat quibusdam incidunt architecto.</p>
    
    <hr class="my-4">
    <p> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur voluptatem commodi dignissimos laudantium vero dolorum voluptas nobis itaque, molestias incidunt atque dicta!</p>
    
    <a href="https://facebook.com" class="btn btn-primary" >Chek4</a>
</div>